//公共样式
$black = #000;
$white = #fff;
$red = #f44;
$blue = #38f;
$orange = #f60;
$green = #06bf04;
$gray = #c9c9c9;
$gray-light = #e5e5e5;
$gray-darker = #666;
$gray-dark = #999;

/* default colors */
$text-color = #333;
$border-color = #ccc;
$active-color = #e8e8e8;
$background-color = #f8f8f8;

//边框线
border_line($border_line-color = $gray-light) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  z-index 2;
  transform: scale(.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid $border_line-color;
}

//朝右边箭头>
arrow_right() {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2px;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: #c8c8c8;
  height: 6px;
  width: 6px;
  margin-top: -3px;
  transform: rotateZ(45deg);
}

//朝上边箭头^
arrow_top() {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: #c8c8c8;
  height: 12px;
  width: 12px;
  margin-top: -3px;
  transform: rotateZ(-45deg);
}

//朝下边箭头v
arrow_bottom() {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: #c8c8c8;
  height: 12px;
  width: 12px;
  margin-top: -12px;
  transform: rotateZ(135deg);
}
