@font-face {
  font-family: 'icon';  /* project id 642511 */
  src: url('//at.alicdn.com/t/font_642511_ticm4ob3ir6vquxr.eot');
  src: url('//at.alicdn.com/t/font_642511_ticm4ob3ir6vquxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_642511_ticm4ob3ir6vquxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_642511_ticm4ob3ir6vquxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_642511_ticm4ob3ir6vquxr.svg#icon') format('svg');
}

.icon {
  font-family:"icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before { content: "\e613"; }

.icon-red-heart:before { content: "\e755"; }

.icon-girl:before { content: "\e665"; }

.icon-men:before { content: "\e643"; }

