@import "common.styl"
/*其他样式*/

//边框线
.border {
  position: relative;

  &::after {
    border_line();
    border-width 1px;
  }
}

.border_box_line {
  position: relative;

  &::after {
    border_line();
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}

.border_line {
  position: relative;

  &:not(:last-child)::after {
    border_line();
    border-bottom-width: 1px;
  }
}

/*课程项*/
.course {
  background-color #fff;
  .course_box {
    padding: 15px;
    display: flex;
    .course_box-img {
      width: 80px;
      height: 80px;
    }
    .course_box-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 5px;
      flex: 1;
      .course_box-class {
        font-size: 16px;
        color: #333;
      }
      .course_box-course,
      .course_box-school {
        font-size: 12px;
        color: #797979;
      }
    }
    .course_box-other {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      .course_box-btn-study {
        font-size 14px;
        color: white;
        border-radius: 5px;
        padding: 6px 10px;
        background-color: #21afa9;
      }
      .course_box-price {
        font-size: 14px;
        color: red;
      }
      .course_box-blank {
        height: 1em;
      }
      .course_box-share {
        font-size: 12px;
        color: #bcbcbc;
      }
    }
  }
}

// 表单单元格
.field {
  width 100%;
  display flex;
  padding: 15px;
  box-sizing border-box;
  font-size 14px;
  .field_left {
    flex: none;
    align-self: center;
  }
  .field_right {
    width 0;
    flex: 1;
    word-wrap: break-word;
  }
}
