//tab
@import "common.styl"

/* tab colors */
$tab-box-border-color = $gray-light //盒子底部颜色
$tab-background-color = $white //盒子背景颜色
$tab-title-color = $text-color //tab标题颜色
$tab-selected-color = $red //选中字体颜色
$tab-selected-border-color = $red //选中底部颜色

.tab,
.tab_box,
.tab_item,
.tab_title,
.tab_title-selected,
.tab_item-selected {
}

.tab {
  height: 45px;
}

.tab_box {
  width: 100%;
  height: 45px;
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  border-bottom: 1px solid $tab-box-border-color;
  background: white;

  .tab_item {
    flex 1;
    display: inline-block;
    min-width: 80px;
    padding: 0 10px;
    line-height: 0;
    box-sizing: border-box;
    text-align: center;

    .tab_title {
      display: inline-block;
      max-width: 100%;
      height: 44px;
      line-height: 44px;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      font-size: 14px;
      color: $tab-title-color;
    }

    .tab_title-selected {
      color: $tab-selected-color;
      border-bottom: 2px solid $tab-selected-border-color;
    }
  }

  .tab_item-selected {
    border-bottom: 2px solid $tab-selected-border-color;
    .tab_title {
      color: $tab-selected-color;
    }
  }
}

.tab_box-no_border {
  border: none;
}

.tab-fixed {
  position: fixed;
  top: 0;
  z-index: 1;
}
